<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>

<p><%= link_to "Create a new review", review_path(@restaurant) %></p>
<p><%= link_to "Back to overview", restaurants_path %></p>
